<p class="header-column">MATCH HISTORY</p>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group match-results">
              <p *ngIf="listOfMatches?.length < 1">ERROR: No Match records available to display :(</p>
              <div *ngFor="let match of listOfMatches" class="match-history-row">
                  <div class="match-history-game flex-container justify-center align-center font-bangers">{{ match.game }}</div>
                  <div class="match-history-date font-bangers text-center">{{ match.dateCompleted | date: 'fullDate' }}</div>
                  <button type="button" class="list-group-item match-history-button-align">
                      <span class="label label-default space-cadet-bg">Rank {{ match.challengerRank }}</span><strong> {{ match.challengerName }}</strong>
                      <span class="font-bangers match-history-score">{{ match.challengerScore }} : {{ match.defenderScore }}</span>
                      <strong> {{ match.defenderName }}</strong> <span class="label label-default space-cadet-bg">Rank {{ match.defenderRank }}</span>
                    </button></div>
              
            </div>
        </div>
    </div>
</div>
