<div class="font-titi">
    <h1 class="text-center font-bangers">Place a challenge</h1>
    <p class="text-center">Select your method of challenging someone</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" (click)="useLinked()">
                <h2>With one of my linked account</h2>
                <p>Using this method means your challenge will be instantly approved and posted, since we know it's you. This is the recommended method of challenging someone.</p>
            </div><!-- end left half -->
            <div class="col-sm-6" (click)="useAnon()">
                <h2>Place Challenge Anonymously</h2>
                <p>Use this if you don't have an account linked to your Google login. Since we don't know for sure if it's actually you, the challenge will have to be verified and approved before it can post.</p>
            </div><!-- end right half -->
        </div><!-- end row -->
        <div class="row" *ngIf="challengeMethod > 0">
            <h2 class="text-center font-bangers">Select your game</h2>
            <div class="col-sm-4 challenge-game-selection" *ngFor="let game of listOfGames" (click)="selectGame(game.ref)">
                <h4>{{ game.title }}</h4>
            </div>
            <p *ngIf="linkNoPlayerWarning===true">There is no player the ladder for that game that has a Google ID that matches the one you are currently logged into. Try again.</p>
        </div> <!-- end choose your game row -->
        <!-- BEGIN ANONYMOUS CHALLENGE SECTION -->
        <div class="row" *ngIf="challengeMethod === 2 && canSelectPlayer === true">
            <div class="col-sm-3 challenge-select-player-anon" *ngFor="let player of listOfPlayers" (click)="selectPlayer(player)" [ngClass]="{'challenge-light-red-bg': player.google, 'challenge-light-green-bg': !player.google}">
                <h3 class="text-center">{{ player.name }}</h3>
                <p class="text-center">Can Select: {{ player.google && 'No' || 'Yes'}}</p>
            </div>
        </div>
        <!-- END ANONYMOUS CHALLENGE SECTION -->
        <div class="row" *ngIf="canSelectDefender === true">
            <h2>Select player to challenge</h2>
        </div> <!-- end select defender row -->
    </div><!-- end container -->
</div> 
