<div class="font-titi">
    <h3 class="text-center font-bangers">News Management</h3>
    <p>You have {{ newsList?.length || 'no' }} news items in the database thus far.</p>
    <!-- Begin list of items from database -->
    <div *ngFor="let item of newsList">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">{{ item.date }}</div>
                <div class="col-sm-3">{{ item.author }}</div>
                <div class="col-sm-5">{{ item.content }}</div>
                <div class="col-sm-1">
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End list of items from database -->
    <!-- Begin add news item -->
    <!-- End add news item -->
    <!-- <div class="sub-menu-row">
        <button class="btn btn-warning" routerLink="./add">Add news item</button>
        <button class="btn btn-warning" routerLink="./view">View news items</button>

        <button class="btn btn-warning" routerLink="./change">Change news items</button>
    </div>
    <router-outlet></router-outlet> -->
</div>