<div class="font-titi">
    <h3 class="text-center font-bangers">News Management</h3>
    <p class="text-center">You have {{ newsList?.length || 'no' }} news items in the database thus far.</p>
    <!-- Begin list of items from database -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3 font-bangers">Date</div>
            <div class="col-sm-3 font-bangers">Author</div>
            <div class="col-sm-5 font-bangersgit">Content</div>
        </div>
        <div class="row" *ngFor="let item of newsListWithId">
            <div class="col-sm-3">{{ item.date }}</div>
            <div class="col-sm-2">{{ item.author }}</div>
            <div class="col-sm-5">{{ item.content }}</div>
            <div class="col-sm-1">
                <button class="btn btn-success" (click)="editNewsItem(item.id)"></button>Change</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-danger" (click)="deleteNewsItem(item.id)">Delete</button>
            </div>
        </div> <!-- end row that will be looped -->
    </div> <!-- end container -->
    <!-- Editing box will go here -->
    <div class="container" *ngIf="canEditNews === true">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">Editing news item</p>
                <label>Author:</label>
                <input type="text">
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-sm-2">
                <label for="">Content:</label>
            </div>
            <div class="col-sm-10">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
    <!-- End editing box -->
    <!-- End list of items from database -->
    <hr>
    <!-- Begin add news item -->
    <h3 class="text-center font-bangers">Add new news item</h3>
    <form #newsForm="ngForm" (ngSubmit)="submitNews(newsForm.value)">
        <div class="container">
            <div class="row"> <!-- Begin author row -->
                <div class="col-sm-1">
                    <label>Author:</label>
                </div>
                <div class="col-sm-11">
                    <input name="author" ngModel required type="text">
                </div>
            </div> <!-- End author row -->
            <div class="row"> <!-- Begin Content 'row' -->
                <div class="col-sm-3">
                    <label for="">Content</label>
                </div>
                <div class="col-sm-12">
                    <textarea name="content" ngModel required class="news-add-content" id="" cols="60" rows="10"></textarea>
                </div>
            </div> <!-- End content row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex-container justify-center">
                        <input type="submit" class="btn btn-info">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- End add news item -->
    <!-- <div class="sub-menu-row">
        <button class="btn btn-warning" routerLink="./add">Add news item</button>
        <button class="btn btn-warning" routerLink="./view">View news items</button>

        <button class="btn btn-warning" routerLink="./change">Change news items</button>
    </div>
    <router-outlet></router-outlet> -->
</div>