<p class="header-column font-titi">ABOUT ME</p>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="about-text">The idea for a persistent ladder for our community was something I had wanted to see for quite sometime since I started getting involved in the local scene with Street Fighter IV. I felt that one of the biggest problems I had was that it didn't seem like there was anyone who was close to my skill level; either someone was way better (almost everyone) or way worse. How much am I really going to learn as a new player losing 50 times in a row to XsK_Samurai?</p>
            <p class="about-text">This is where a ladder would come in. After the first few matches to get everyone's rank sorted out, I could focus on the 2-3 people around me that are closest to my skill level. I can analyze what I'm doing wrong and what I'm doing right, and improve at a reasonable pace while getting tangible results. If I got twice as good, playing against the same pro wouldn't show improvement, but for the players closer to me, I could actually see some wins and losses.</p>
            <p class="about-text">Now that I'm working on web design, this is one of the projects I had in mind. While I will have to keep the number low at first because I haven't been able to automate everything, working on website building while doing something for a community that I have gotten so much out of is an opportunity I can't pass up.</p>
            <p class="about-text">--J.R. "Fleury14" Ruggiero</p>
        </div>
    </div>
</div>