<div>
    <p class="text-center font-bangers">
        Add news item
    </p>
    <form #newsForm="ngForm" (ngSubmit)="submitForm(newsForm.value)">
        <label>Author:</label>
        <input type="text" name="author" ngModel required><br>
        <label>Content</label><br>
        <textarea name="content"  cols="50" rows="10" ngModel required></textarea>
        <p>Today's date is {{ todaysDate | date : 'fullDate' }}</p><br>
        <input class="btn btn-danger btn-xs" type="submit" [disabled]="newsForm.invalid">
    </form>
</div>