<div class="font-titi">
    <p class="header-column">Join a ladder</p>
    <p>Thanks for taking interest in one of the ladders to join. Just select your game, enter some information and you will be put on a pending list to be approved by an admin.</p>
    <hr>
    <h2 class="text-center font-bangers join-select-game-header">Select your game</h2>
    <div class="join-game-list flex-container justify-around">
        <div class="join-game-list-item text-center font-bangers" [ngClass]="{'join-game-list-item-active': selectedGame === game.ref}" *ngFor="let game of gameList" (click)="selectGame(game.ref)">
            {{ game.title }}
        </div>
    </div>
    <div class="join-form-container">
        <label>Your Name:</label>
        <p>This is simply what you will be known as on the ladder.</p>
        <input type="text" [(ngModel)]="joinName"><br>
        <label>{{ selectedGame === 'sfv' && "Your CFN:" || "Your PSN ID:" }} </label>
        <p>This is so people can contact you in game.</p>
        <input type="text" [(ngModel)]="joinPsnId"><br>
        <div>
            <label for="">Would you like to link your Google account to this ladder entry? (Recommended): </label>
            <input class="join-checkbox" type="checkbox" [(ngModel)]="joinGoogle"><br>
        </div>
        <input type="submit" [disabled]="selectedGame===undefined || !joinName || !joinPsnId" (click)="addPending(selectedGame)" class="btn join-submit-button">    
    </div>
    
    <h4 *ngIf="userSubmitted === true">User has been submitted. Now currently pending approval by an admin. Thanks again for your interest!</h4>
    <h4 *ngIf="dupeWarning === true">You are already in the database pending approval.</h4>
    <h4 *ngIf="fullWarning === true">Database pending list is currently full. Cannot submit.</h4>
</div>
