<p class="header-column">CONTACT LINKS</p>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="list-group contact-list-group">
              <a class= "list-group-item" href="https://discordapp.com/channels/165674236122365953/165674236122365953">
                  <h3 class="list-item-heading contact-head">Fresno Gaming Community Discord</h3>
                  <p class="list-item-text contact-text">This will be the primary method of communication between the ladder and it's players, and will also be the most effective use of comminucation to match up with other players.</p>
              </a>
              <a class= "list-group-item" href="https://www.facebook.com/groups/460364100750157/">
                  <h3 class="list-item-heading contact-head">Fresno Gaming Community Facebook page</h3>
                  <p class="list-item-text contact-text">Feel free to use this page as necessary to contact someone as well.</p>
              </a>
              <a class= "list-group-item" href="https://twitter.com/lqfleury14">
                  <h3 class="list-item-heading contact-head">My twitter page</h3>
                  <p class="list-item-text contact-text">Don't be alarmed at the lack of activity, I get notified instantly, so if you need a fast response, this is the best way to do it.</p>
              </a>
              <a class= "list-group-item" href="https://twitter.com/lqfleury14">
                  <h3 class="list-item-heading contact-head">FGC Ladder E-mail</h3>
                  <p class="list-item-text contact-text">Best used for official inquiries, such as joining, issues with challenges, website problems, and just about anything else.</p>
              </a>
            </div>
        </div>
    </div>
</div>