<nav>
    
    <ul class="nav nav-tabs nav-justified bnavbar">
      <li role="presentation" routerLinkActive="active"><a routerLink="/home">Home</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/about">About</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/rules">Rules</a></li>
      <li role="presentation"><a href="standings.html">Standings</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/challenges">Challenges</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/match-history">Match History</a></li>
    </ul>
</nav>