/*Begin Navbar Styles */

.navbar-default {
    background-color: #fff;
    border-color: #a63446;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #a63446;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #a63446;
    transition: 0.3s all;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #e2a2ac;
}

.navbar-right li {
    display: flex;
    align-items: center;
    height: 50px;
}

.nav-home-login-row {
    height: 50px;
    border-radius: 2.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-row-item {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #a63446;
    box-shadow: 4px 4px 4px #600;
    color: #fff;
}

.button-row-item:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

/* End Nav Bar Styles */

.login-row {
    height: 25px;
    justify-content: flex-start;
}

.login-row button, .login-row span {
    margin-right: 20px;
}

.admin-button {
    background-color: #190e4f;
}

.home-challenge-badge {
    height: 18px;
    background-color: #c00;
    transform: translate(-11px,-30px);
}