<p class="header-column">CHALLENGES</p>
<div class="container font-titi">
    <div class="row" *ngFor="let game of newListOfGames">
        <div class="col-sm-12">
            <h3 class="font-bangers">{{ game.title }}</h3>
            <table class="table table-striped standing-table">
                 <thead>
                     <tr>
                         <th>Challenger</th>
                         <th>Challengee</th>
                         <th>Deadline</th>
                         
                     </tr>
                 </thead>
                 <tbody>
                     
                     <tr><td><p *ngIf="challengesPerGame(game.ref).length===0">No outstanding challenges at this time</p></td></tr>
                     <tr *ngFor="let challenge of challengesPerGame(game.ref)" class="success">
                        <td><span class="label label-default">{{ challenge.challengerRank }}</span>&nbsp;{{ challenge.challengerName }}</td>
                        <td><span class="label label-default">{{ challenge.defenderRank }}</span>&nbsp;{{ challenge.defenderName }}</td>
                        <td>{{ unixDateConversion(deadline) }}</td>
                 </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-3 wufoo-container">
            <iframe class="wufoo-form" height="620" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://fgcladder.wufoo.com/embed/z8efeqd002fkar/"><a href="https://fgcladder.wufoo.com/forms/z8efeqd002fkar/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div></div>
    </div>    
</div>