<div class="container">
    <div class="row">
        <div class="col-sm-12 header-column"><span>RULES</span></div>
    </div>
    <div class="row">
        <div class="col-sm-12 rules-text">
            <h4>Ladder</h4>
            <p>The ladder is a consistent list of up to 25 players, ranked 1 through 25. Total win-loss record, and ELO rating are for statistical use only.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 rules-text">
            <h4>Sign up</h4>
            <p>To sign up, simply click on the button below to send an e-mail. Pending approval, every incoming player will be added to the bottom of the ladder.</p>
            <a href="mailto:fgcladder@gmail.com"><button class="btn btn-danger">Send E-mail</button></a>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Challenges</h4>
            <p class="rules-text">Player may issue a challenge up to 3 ranks ahead of them. You may not challenge the same person twice in a row, unless you are in the #2 spot, in which case there is only one possible person to challenge, but there will be a 3-day waiting period before you can challenge again. To challenge, click the button on the Challenges page to go to the form to issue a challenge. After approval, the challenge will be posted on the Fresno Gaming Community discord. It is the resposibility of both players to get their set in within one week of the posting of the challenge. If the match has not been played within this time, the challenge is nullified. If a player is inactive for three consecutive challenges, they will be dropped from the ladder, and if they wish to rejoin, will do so from the bottom. We reserve the right to grant exceptions to this penalty in the event someone has the bad luck to challenge three straight inactive players.</p>
            <p class="rules-text">Each player may have one incoming and one outgoing challenge at the same time. Should a player move up on their own challenge and then lose one sent in by someone else, the lower player will take the spot that had previously been held. For example Joe at #10 challenges Bob at #7. Bob at #7 challenges Mike at #5. Bob beats Mike, Moves to number #5, the two below him fall to #6 and #7. If Joe beats Bob, he will move to #7, NOT to #5.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Set Rules</h4>
            <p class="rules-text">All sets are a first to 5 wins. Loser is allowed to switch characters.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Reporting</h4>
            <p class="rules-text">It is the responsibility of the match winner to post the result in the ladder channel of the FGC discord. Simply enter "Player A defeated Player B 0-0". I will update the ladder as soon as I possibly can.</p>
        </div>
    </div>
</div>