<div class="container">
    <div class="row">
        <div class="col-sm-12 header-column"><span>RULES</span></div>
    </div>
    <div class="row">
        <div class="col-sm-12 rules-text">
            <h4>Ladder</h4>
            <p>The ladder is a consistent list of up to 25 players, ranked 1 through 25. Total win-loss record, and ELO rating are for statistical use only.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 rules-text">
            <h4>Sign up</h4>
            <p>For the moment, membership in the Fresno Gaming Community Discord is MANDATORY. If you don't have an invite, contact me by e-mail or twitter. All info is posted on the #ladder-test channel.</p>
            <p>To sign up, click on the 'Join Ladder' section of the site. Pending approval, every incoming player will be added to the bottom of the ladder.</p>
            <p>You will be given the option to link a Google account. If you haven't done so, you should log in to your Google account using the login button on the top left. Then, when you go to sign up, you will be given the option of linking your Google account. This has several benefits including unlocking the user dashboard, and is highly recommended.</p>
            <p>If you decide at a later time to link your Google account to a spot that is on the ladder, follow these steps:</p>
            <ol>
                <li>After logging in, go to your dashboard. The game you want to join should say 'No Record Found'</li>
                <li>Click the button that reads 'Link account to player on ladder'. DO NOT click join ladder, and this will submit a new join request and start you at the bottom.</li>
                <li>The app should ask you which player you are. Accounts that are already linked are in red an unselectable. Select who you are and submit</li>
                <li>Await approval from an admin. One should contact you on discord just to make sure that you are the one who actually submitted the link request.</li>
            </ol>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Challenges</h4>
            <p class="rules-text">Player may issue a challenge up to 5 ranks ahead of them. You may not challenge the same person twice in a row, unless you are in the #2 spot, in which case there is only one possible person to challenge. However, the #2 spot must wait 3 days before challenging #1 again to give others the chance at the top. After approval, the challenge will be posted on the Fresno Gaming Community discord. It is the resposibility of both players to get their set in within one week of the posting of the challenge. If the match has not been played within this time, the challenge is nullified. If a player is inactive for three consecutive challenges, they will be dropped from the ladder, and if they wish to rejoin, will do so from the bottom. We reserve the right to grant exceptions to this penalty in the event someone has the bad luck to challenge three straight inactive players.</p>
            <p class="rules-text">Each player may have one incoming and one outgoing challenge at the same time. If a player happens to move out of the 5 spot range over the course of a challenge, the challenger will move up the maximum 5 spots, but not jump the defender. For example, Joe at #10 challenges Bob at #5. Before the match is played, Bob challenges #3 and wins, so he is now #3. If Joe beats Bob, he will move up the maximum 5 spots and be #5.</p>
            <p class="rules-text">When you go to place a challenge, you will be given the option of challenging using the spot linked to your Google account, or to do so anonymously. All anonymous challenges must be approved first, whereas linked challenges post immediately.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Set Rules</h4>
            <p class="rules-text">All sets are a first to 5 wins. Loser is allowed to switch characters.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Reporting</h4>
            <p class="rules-text">It is the responsibility of the match winner to post the result in the ladder channel of the FGC discord. Simply enter "Player A defeated Player B 0-0". You can also report results using the user dashboard if you linked your Google account. I will update the ladder as soon as I possibly can. If you are getting an error when trying to post a result, it means the other player has already submitted a score for that challenge.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="rules-header">Game Specific Rules - MVCI</h4>
            <p class="rules-text">The character select rule also applies to gems; If you win, you cannot change your gem. Easy combos/hypers are allowed.</p>
        </div>
    </div>
</div>