<div class="font-titi">
    <h1 class="font-bangers text-center">Challenge Management</h1>
    <h3 class="font-bangers text-center">Pending Approval</h3>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-1">Game</div>
            <div class="col-sm-4">Challenger</div>
            <div class="col-sm-4">Defender</div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row challenge-pending-item-row" *ngFor="let pending of listOfPendingChallenges">
            <div class="col-sm-1 challenge-pending-item-game challenge-pending-min-height">{{ pending.game }}</div>
            <div class="col-sm-4 challenge-pending-item-player">
                <h4>{{ pending.challengerName }}</h4>
                <p>Rank {{ pending.challengerRank }}</p>
            </div>
            <div class="col-sm-4 challenge-pending-item-player">
                <h4>{{ pending.defenderName }}</h4>
                <p>Rank {{ pending.defenderRank }}</p>
            </div>
            <div class="col-sm-2 challenge-pending-min-height challenge-pending-item-buttons">
                <button class="btn btn-success" (click)="approveChallenge(pending, pending.id)">Approve</button>
                <button class="btn btn-danger" (click)="denyChallenge(pending.id)">Deny</button>
            </div>
        </div> <!-- end looped row -->
        <h3 class="text-center font-bangers">List of active challenges</h3>
        <div class="row text-center">
            <div class="col-sm-1">Game</div>
            <div class="col-sm-4">Challenger</div>
            <div class="col-sm-4">Defender</div>
            <div class="col-sm-1">Deadline</div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row challenge-pending-item-row" *ngFor="let challenge of listOfActiveChallenges">
            <div class="col-sm-1 challenge-pending-item-game challenge-pending-min-height">{{ challenge.game }}</div>
            <div class="col-sm-4 challenge-pending-item-player">
                <h4>{{ challenge.challengerName }}</h4>
                <p>Rank {{ challenge.challengerRank }}</p>
            </div>
            <div class="col-sm-4 challenge-pending-item-player">
                <h4>{{ challenge.defenderName }}</h4>
                <p>Rank {{ challenge.defenderRank }}</p>
            </div>
            <div class="col-sm-1">
                <p>{{ unixConvert(challenge.deadline) | date: 'fullDate' }}</p>
            </div>
            <div class="col-sm-1 challenge-pending-min-height challenge-pending-item-buttons">
                <button class="btn btn-success" (click)="addScore(challenge)">Edit Score</button>
                <button class="btn btn-danger" (click)="deleteActiveChallenge(challenge.id)">Delete</button>
            </div>
        </div> <!-- end looped active challenge row -->
        <div class="row" *ngIf="editScore === true"> <!-- begin score edit div -->
            <div class="col-sm-3 col-sm-offset-3">
                <label>Challenger Score: </label>
                <input type="number" [(ngModel)]="challengerScoreInput">
            </div>
            <div class="col-sm-3">
                <label>Defender Score: </label>
                <input type="number" [(ngModel)]="defenderScoreInput">
            </div>
            <div class="col-sm-12 flex-container justify-center">
                <button class="btn btn-info" (click)="submitScore()">Submit Score</button>
            </div>
        </div> <!-- end score edit div -->
        <div class="row"> <!-- begin result title row -->
            <div class="col-sm-12">
                <h3 class="text-center font-bangers">List of results needing approval</h3>
            </div>
        </div> <!-- end result title row -->
        <div class="row text-center"> <!-- behin result header row -->
            <div class="col-sm-2">
                <p class="font-banger">Game</p>
            </div>
            <div class="col-sm-8">Challenge</div>
            <div class="col-sm-2"></div>
        </div> <!-- end result header row -->
        <div class="row" *ngFor="let result of listOfResults">
            <div class="col-sm-2 challenge-pending-result-side-row">{{ result.game }}</div>
            <div class="col-sm-8">
                <h3 class="text-center">({{result.challengerRank}}) {{result.challengerName}} <strong>{{result.challengerScore}} - {{result.defenderScore}}</strong> {{result.defenderName}} ({{result.defenderRank}})</h3>
                <p class="text-center">Deadline: {{ unixConvert(result.deadline) }}</p>
            </div>
            <div class="col-sm-2 challenge-pending-result-side-row">
                <div class="flex-container justify-around">
                    <button class="btn btn-success" (click)="approveResult(result)">Approve</button>
                    <button class="btn btn-danger" (click)="deleteResult(result.id)">Deny</button>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</div>