<div class="font-titi">
    <h1 class="font-bangers text-center">Challenge Management</h1>
    <h3 class="font-bangers text-center">Pending Approval</h3>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-1">Game</div>
            <div class="col-sm-4">Challenger</div>
            <div class="col-sm-4">Defender</div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row challenge-pending-item-row" *ngFor="let pending of listOfPendingChallenges">
            <div class="col-sm-1 challenge-pending-item-game challenge-pending-min-height">{{ pending.game }}</div>
            <div class="col-sm-4 challenge-pending-item-player">
                <h4>{{ pending.challengerName }}</h4>
                <p>Rank {{ pending.challengerRank }}</p>
            </div>
            <div class="col-sm-4 challenge-pending-item-player">
                <h4>{{ pending.defenderName }}</h4>
                <p>Rank {{ pending.defenderRank }}</p>
            </div>
            <div class="col-sm-2 challenge-pending-min-height challenge-pending-item-buttons">
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger" (click)="denyChallenge(pending.id)">Deny</button>
            </div>
        </div> <!-- end looped row -->
    </div> <!-- end container -->
</div>