<div>
    <h3 class="text-center font-banger">List of pending entrants</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">Game</div>
            <div class="col-sm-2">Name</div>
            <div class="col-sm-2">PsnId</div>
            <div class="col-sm-2">Linked Google?</div>
            <div class="col-sm-2">
                <button class="btn btn-success">Accept</button>
                <button class="btn btn-danger">Deny</button>
            </div>
        </div>
    </div>
</div>
