<div>
    <h3 class="text-center font-bangers">List of pending entrants</h3>
    <div class="container">
        <div class="row pending-header-row">
            <div class="col-sm-2 col-sm-offset-1">Game</div>
            <div class="col-sm-2">Name</div>
            <div class="col-sm-2">PsnId</div>
            <div class="col-sm-2">Linked Google?</div>
            <div class="col-sm-2">

            </div>
        </div> <!-- end header row -->
        <div class="row" *ngFor="let pending of pendingList" class="pending-header-looped"> <!-- begin looped row -->
            <div class="col-sm-2 col-sm-offset-1">{{ pending.game }}</div>
            <div class="col-sm-2">{{ pending.name }}</div>
            <div class="col-sm-2">{{ pending.psnId }}</div>
            <div class="col-sm-2">{{ pending.google && 'Yes' || 'No' }}</div>
            <div class="col-sm-2">
                <button class="btn btn-success" (click)="approvePending(pending.id)">Accept</button>
                <button class="btn btn-danger" (click)="denyPending(pending.id)">Deny</button>
            </div>
        </div> <!-- end looped row -->
    </div> <!-- end container -->
</div>
