.player-listing {
    color: #fff;
    width: 75%;
    margin: 5px auto;
    font-size: 18px;
    text-align: center;
}

.game-select-row {
    color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}

.game-select-item {
    color: #fff;
}

.current-game {
    color: orange;
}