<div>
    <p>This is where players will be managed</p>
    <div class="container">
        <div class="row font-bangers game-select-row">
            <div class="col-sm-2">Select your game:</div>
            <div class="col-sm-2 game-select-item" *ngFor="let game of gameList" (click)="switchGame(game.ref, game.title)">{{ game.title }}</div>
        </div>
        <div class="row"> <!-- begin player header row -->
            <div class="col-sm-12 text-center">
                Current game: {{ currentGame?.title }}
            </div>
        </div> <!-- end player header row -->
        <div class="row">
            <div class="col-sm-6"> <!-- Begin left half of player management -->
                <h3 class="text-center font-bangers">List of Players</h3>
                <h3 *ngIf="currentGame.ref === 'placeholder'">Please Select a game</h3>
                <p *ngFor="let player of listOfPlayers" class="player-listing font-bangers"  (click)="displayPlayerInfo(player.id)">{{ player.name }}</p>
                <div class="flex-container justify-center">
                    <button class="btn btn-success" [disabled]="currentGame.title === ''" (click)="openAddPlayer()">Add Player</button>
                </div>
            </div><!-- end left half -->
            <div class="col-sm-6"> <!-- Begin right half of player management -->
                <div *ngIf="selectedPlayer">
                    <h3 class="text-center font-bangers">Selected Player</h3>
                    <p class="text-center">Player Name: {{ selectedPlayer.name }}</p>
                    <p class="text-center">Player Rank: {{ selectedPlayer.rank }}</p>
                    <p class="text-center">ELO: {{ selectedPlayer.elo }}</p>
                    <p class="text-center">PSN Id: {{ selectedPlayer.psnId }}</p>
                    <p class="text-center">Wins: {{ selectedPlayer.wins }}</p>
                    <p class="text-center">Losses: {{ selectedPlayer.losses }}</p>
                    <p class="text-center">Streak: {{ selectedPlayer.streak }}</p>
                    <div class="flex-container justify-around">
                        <button class="btn btn-success" (click)="allowUpdatePlayer()">Update Player</button>
                        <button class="btn btn-danger" (click)="deletePlayer()">Delete Player</button>
                    </div>
                </div> <!-- end ngif'd selected player div -->
            </div><!-- end right half -->
        </div> <!-- end row -->
        <div class="row" *ngIf="canAddPlayers === true"><!-- begin add row -->
            <div class="col-sm-12">
                <h3 class="font-bangers text-center">Add player</h3>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <label for="">Player Name</label>
                <input type="text" [(ngModel)]="nameField"><br>
                <label>PSN ID</label>
                <input type="text" [(ngModel)]="psnField">
                <p>Game: {{ currentGame.title }}</p>
                <div class="flex-container justify-around">
                    <button class="btn btn-danger" (click)="cancelAddPlayer()">Cancel</button>
                    <button class="btn btn-success" (click)="addPlayer(currentGame.ref)" [disabled]="currentGame.title === '' || !nameField || !psnField">Add Player</button>    
                </div>
            </div>
        </div><!-- end add row -->
        <div class="row" *ngIf="canEditPlayer === true"> <!-- begin update row -->
            <h3 class="text-center font-bangers">Player edit</h3>
            <form #playerUpdateForm="ngForm" (ngSubmit)="updatePlayer(playerUpdateForm.value, selectedPlayer.id)" action="">
                <label>Name:</label>
                <input name="updateNameField" type="text" [(ngModel)]="updateNameField" required><br>
                <label>PSN ID:</label>
                <input type="text" name="updatePsnIdField" [(ngModel)]="updatePsnIdField" required><br>
                <label>Rank:</label>
                <input type="number" name="updateRankField" [(ngModel)]="updateRankField" required><br>
                <label>Wins:</label>
                <input type="number" name="updateWinsField" [(ngModel)]="updateWinsField" required><br>
                <label>Losses:</label>
                <input type="number" name="updateLossesField" [(ngModel)]="updateLossesField" required><br>
                <label>ELO:</label>
                <input type="number" name="updateEloField" [(ngModel)]="updateEloField" required><br>
                <label>Streak</label>
                <input type="text" name="updateStreakField" [(ngModel)]="updateStreakField" required><br>
                <input type="submit" class="btn btn-success" [disabled]="playerUpdateForm.invalid">
                <button class="btn btn-warning" (click)="cancelUpdatePlayer()">Cancel Update</button>
                <p>Note: Changing rank manually may lead to sorting issues on the front page should two players share the same rank.</p>
            </form>
        </div> <!-- end update row -->
    </div> <!-- end container -->
</div>
