.player-listing {
    background-color: #bb0000;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

.game-select-row {
    background-color: #bb0000;
    color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.game-select-item {
    color: #fff;
}