.player-listing {
    color: #fff;
    width: 75%;
    margin: 5px auto;
    font-size: 18px;
    text-align: center;
}

.game-select-row {
    color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}

.game-select-item {
    color: #fff;
}

.current-game {
    color: orange;
}

.player-edit-form {
    border: 5px ridge #19034f;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    background-color: #dedede;
    margin-top: 25px;
    z-index: 40 !important;
    position: absolute;
    top: 5%;
    left: 32.5%;
    transform: translate(-270%, 0px);
    transition: 1s all;
}

.edit-player-show {
    transform: translate(0px, 0px);
}
