<p class="header-column">ADMIN</p>
<div class="sub-menu-row flex-container">
    <button class="btn btn-danger" routerLink="./news">News Items</button>
    <button class="btn btn-danger" routerLink="./challenges">Challenges</button>
    <button class="btn btn-danger" routerLink="./players">Add/Remove Players</button>
    <button class="btn btn-danger" routerLink="./pending">Pending Joins</button>
    <button class="btn btn-danger" routerLink="./pending-link">Pending Link Requests</button>
    <button class="btn btn-danger" routerLink="./match-history">Match History</button>
</div>
<hr>
<router-outlet></router-outlet>