/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.font-titi {
    font-family: "Titillium Web", sans-serif;
}

.font-bangers {
    font-family: "Bangers", cursive;
}

.deep-red-bg {
    background-color: #a63446;
}

.header-column {
    text-align: center;
    font-family: "Bangers", cursive;
    font-size: 48px;
    margin-top: 30px;
    text-shadow: 2px 2px 2px #c75466;
    color: #000;
}

.margin-auto {
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}