<div class="font-titi">
    <div class="flex-container justify-center">
        <span class="admin-home-label">Number of join requests: </span>
        <span class="admin-home-result font-bangers">{{ numOfJoins }}</span>
    </div>
    <div class="flex-container justify-center">
        <span class="admin-home-label">Number of link requests: </span>
        <span class="admin-home-result font-bangers">{{ numOfLinks }}</span>
    </div>
    <div class="flex-container justify-center">
        <span class="admin-home-label">Challenges needing approval: </span>
        <span class="admin-home-result font-bangers">{{ numOfChallenges }}</span>
    </div>
    <div class="flex-container justify-center">
        <span class="admin-home-label">Results needing approval: </span>
        <span class="admin-home-result font-bangers">{{ numOfResults }}</span>
    </div>
</div>