<div class="font-titi">
    <div class="flex-container justify-center">
        <span class="admin-home-label">Number of join requests: </span>
        <span class="admin-home-result font-bangers">{{ numOfJoins }}</span>
    </div>
    <div class="flex-container justify-center">
        <span>Number of link requests: </span>
        <span></span>
    </div>
    <div class="flex-container justify-center">
        <span>Challenges needing approval: </span>
        <span></span>
    </div>
    <div class="flex-container justify-center">
        <span>Results needing approval: </span>
        <span></span>
    </div>
</div>