<header>
    <div class="container header-container"></div>
        <div class="row header-row">
             <div class="col-sm-3 col-xs-0">
                 <img src="./../../assets/fgcicon.jpg" alt="FGC icon" class="header-img" height="100" width="100" />
            </div>
            <div class="col.xs.9">
                 <p class="header-text">Welcome to the future website for the ladder representing the Fresno Gaming Community. Here, we encourage members to challenge both themselves and others by maintaining a persistent ladder in which people can compete in various fighting games.</p>
            </div>
        </div>
    
</header>

<div class="container stream-container">
    <p class="text-center header-column">Streams</p> 
    <div class="row">
        <div *ngFor="let stream of listOfStreams" class="col-sm-6 text-center">
            <a href="https://twitch.tv/{{stream}}" class="stream-link" target="_blank">
                <div *ngIf="twitchStatus.results[stream] === null" class="text-center font-bangers">
                    <span class="text-center font-titi">{{ stream }}:</span>
                    <span >OFFLINE</span>
                </div>
                <div *ngIf="twitchStatus.results[stream] !== null">
                    <span class="text-center font-titi">{{ stream }}:</span>
                    <span class="text-center font-bangers">ONLINE, Playing {{twitchStatus.results[stream].game}} for {{twitchStatus.results[stream].viewers}} viewers</span>
                    <br><p *ngIf="twitchStatus.results[stream].channel !== undefined" class="font-titi">{{ twitchStatus.results[stream].channel.status }}</p>
                    <img *ngIf="twitchStatus.results[stream].preview !== undefined" src="{{twitchStatus.results[stream].preview.medium}}" alt="" class="img-responsive margin-auto">
                </div>

                
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10"> <!-- Begin left side (news) box -->
            <div *ngFor="let item of recentNews" class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading panel-heading-custom">{{item.date}}</div>
                        <div class="panel-body">
                            <p class="panel-news-body">{{item.content}}</p>
                            <p class="news-sig">{{item.author}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="hidden-news">
                <div *ngFor="let item of olderNews" class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading panel-heading-custom">{{item.date}}</div>
                            <div class="panel-body">
                                <p class="panel-news-body">{{item.content}}</p>
                                <p class="news-sig">{{item.author}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end hidden news -->
            <div class="show-news-container">
                <button class="btn btn-danger" id="showNewsButton">Show Older News</button>
            </div>
        </div> <!-- End left side (news) box -->
        <div class="col-sm-2 font-titi"> <!-- Begin right side (sidebar) box -->
            <div class="row"> <!-- Begin first sidebar row -->
                <div class="col-sm-12">
                    <div class="sidebar-panel-cont"> <!-- Begin Challenges sidebar container -->
                        <div class="sidebar-panel-head deep-red-bg">
                            <p>CHALLENGES</p>
                        </div>
                        <p *ngIf="sidebarChallengeList.length < 1">No Active Challenges</p>
                        <div *ngFor="let challenge of sidebarChallengeList" class="sidebar-panel-body text-center">
                            <p>{{challenge.deadline}}: {{challenge.challengerName}} vs. {{challenge.challengeeName}}</p>
                            
                        </div>
                    </div> <!-- End Challenges sidebar container -->
                </div>
            </div> <!-- End first sidebar row -->
            <div class="row"> <!-- Begin second sidebar row -->
                <div class="col-sm-12">
                    <div class="sidebar-panel-cont"> <!-- Begin Recent sidebar container -->
                        <div class="sidebar-panel-head deep-red-bg">
                            <p>Recent Matches</p>
                        </div>
                        <div class="sidebar-panel-body text-center">
                            <p *ngFor="let match of recentMatches">{{match.date}}: {{match.winnerName}} def. {{match.loserName}} {{match.wins}}-{{match.losses}}</p>
                        </div>
                    </div> <!-- End Recent sidebar container -->
                </div>
            </div> <!-- End second sidebar row -->
            <div class="row"> <!-- Begin third sidebar row -->
                <div class="col-sm-12">
                    <div class="sidebar-panel-cont"> <!-- Begin Recent sidebar container -->
                        <div class="sidebar-panel-head deep-red-bg">
                            <p>Upcoming Events</p>
                        </div>
                        <div class="sidebar-panel-body text-center">
                            <p>11/18: Super Bitwise Beatdown</p>
                            <p class="event-divider">@Bitwise South Stadium</p>
                            
                        </div>
                    </div> <!-- End Recent sidebar container -->
                </div>
            </div> <!-- End third sidebar row -->
        </div> <!-- End right side (sidebar) box -->
    </div>
        
                
        
    
</div>
<script src="home.component.js"></script>